.search-input{
   background-color: azure;
    box-shadow: 0 4px 8px #414040;
    border: 1px solid #ccc;
    border-radius: 2px;
    margin: 0 10px;
    color: rgba(43, 41, 41, 0.87);
}
.search-input::placeholder {
    color: black;
}